#!/bin/bash

kubectl config set-cluster \
  ${KUBE_CLUSTER_NAME}

kubectl config set-cluster \
  ${KUBE_CLUSTER_NAME} \
  --certificate-authority=${CLUSTER_CRT}

kubectl config set-credentials \
  ${USERNAME} \
  --client-key=${USER_KEY_FILE} \
  --client-certificate=${USER_CRT_FILE}

kubectl config set-context \
  ${KUBE_CLUSTER_NAME} \
  --user=${USERNAME} \
  --cluster ${KUBE_CLUSTER_NAME}

kubectl config use-context \
  ${KUBE_CLUSTER_NAME}
  